node_modules
.env

/deployments
/script/tests

/cache
/artifacts
/broadcast
/cache_hardhat
/hardhat/artifacts
/hardhat/cache
/hardhat/typechain-types
/cache_forge
/out
/todo.md

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments